<nav class="footer">
  <ul class="text-center">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Categories", categories_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  </ul>
</nav>