<div class="container mt-5">
  <div class="row">
    <h1>Tasks</h1>
    <h1>Tasks</h1>
    <h1>Tasks</h1>
    <h1>Tasks</h1>
    <%= @tasks.count %>
    dasdsadasdasdasdasdasdasdasdasdasdsad
  </div>
</div>