<% content_for :title do %>
  <title>Welcome</title>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <h1 class="font-primary primary-h1 text-center mb-3">Organize your life efforlessly</h1>
      <h5 class="font-primary text-center mb-3 primary-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, ullam quos cum nostrum culpa nobis sit nam ex asperiores quis!</h5>
    </div>
    <div class="col-md-6">
      <%= image_tag("Online world-bro.png", :alt => "Organize your life", class: "w-100") %>
    </div>
  </div>
  <p class="text-center">
    <a class="btn btn-primary btn-lg main-btn mb-4">Sign up now</a>
  </p>
</div>

<div class="bg-white content-wrap">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-4">
        <p class="text-center"><i style="font-size: 61px;" class="fa fa-address-card"></i></p>
        <h3 class="mb-3 three-col-heading text-center">First heading</strong></h3>

        <p class="font-light-gray text-center col-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto labore natus quos corporis asperiores consectetur inventore consequatur tempore ex.</p>
      </div>

      <div class="col-md-4">
        <p class="text-center"><i style="font-size: 61px;" class="fa fa-trash"></i></p>
        <h3 class="mb-3 three-col-heading text-center">First heading</h3>

        <p class="font-light-gray text-center col-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto labore natus quos corporis asperiores consectetur inventore consequatur tempore ex.</p>
      </div>

      <div class="col-md-4">
        <p class="text-center"><i style="font-size: 61px;" class="fa fa-desktop"></i></p>
        <h3 class="mb-3 three-col-heading text-center">First heading</h3>

        <p class="font-light-gray text-center col-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto labore natus quos corporis asperiores consectetur inventore consequatur tempore ex.</p>
      </div>
    </div>
  </div>
</div>