<div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <h1 class="font-primary primary-h1 text-center mb-3">Organize your life efforlessly</h1>
        <h5 class="font-primary text-center mb-3 primary-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, ullam quos cum nostrum culpa nobis sit nam ex asperiores quis!</h5>
    </div>
    <div class="col-md-6">
        <%= image_tag("Online world-bro.png", :alt => "Organize your life", class: "w-100") %>
    </div>
</div>
<p class="text-center">
    <a class="btn btn-primary btn-lg main-btn">Try it now</a>
</p>
