<% content_for :title do %>
  <title>Welcome</title>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <h1 class="font-primary primary-h1 text-center mb-3">Organize your life efforlessly</h1>
      <h5 class="font-primary text-center mb-3 primary-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, ullam quos cum nostrum culpa nobis sit nam ex asperiores quis!</h5>
    </div>
    <div class="col-md-6">
      <%= image_tag("Online world-bro.png", :alt => "Organize your life", class: "w-100") %>
    </div>
  </div>
  <p class="text-center">
    <a class="btn btn-primary btn-lg main-btn mb-4">Sign up now</a>
  </p>
</div>

<div class="bg-green">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-credit-card"></i>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto labore natus quos corporis asperiores consectetur inventore consequatur tempore ex totam quis aliquam maiores debitis repudiandae commodi optio laudantium voluptas molestias perferendis rem, mollitia dignissimos nulla, quisquam ipsum. Suscipit eveniet cumque magni libero maxime voluptatum soluta unde hic, quasi tempora ullam.</p>
      </div>
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto labore natus quos corporis asperiores consectetur inventore consequatur tempore ex totam quis aliquam maiores debitis repudiandae commodi optio laudantium voluptas molestias perferendis rem, mollitia dignissimos nulla, quisquam ipsum. Suscipit eveniet cumque magni libero maxime voluptatum soluta unde hic, quasi tempora ullam.</p>
      </div>
      <div class="col-md-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto labore natus quos corporis asperiores consectetur inventore consequatur tempore ex totam quis aliquam maiores debitis repudiandae commodi optio laudantium voluptas molestias perferendis rem, mollitia dignissimos nulla, quisquam ipsum. Suscipit eveniet cumque magni libero maxime voluptatum soluta unde hic, quasi tempora ullam.</p>
      </div>
    </div>
  </div>
</div>
