/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require bootstrap
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/* https://www.schemecolor.com/old-green-bills.php */

* {
    font-family: "Work Sans", sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    background-color: #f0efdb;
}

h1 {
    font-weight: 700;
}

.dark-font {
    color: #333;
}

.green-font {
    color: #2e4723;
}

.primary-h1 {
    font-size: 88px;
    font-weight: 600;
}

.secondary {
    font-weight: 600;
}

.primary-p {
    font-weight: 400;
}

.font-primary {
    color: #333;
}

.font-secondary {
    color: #f0efdb;
}

.bg-dark {
    background-color: #4a663d !important;
}

.bg-green {
    background-color: #8ea891;
}

.main-btn {
    width: 210px;
    background-color: #4a663d !important;
    color: #f3f2e8 !important;
    border-color: #4a663d;
    box-shadow: 2px 2px 5px #999;
    border-radius: 1000px;
}

.main-btn:hover {
    background-color: #2e4723 !important;
    border-color: #2e4723 !important;
}

.row-bg {
    background-color: #fefefe;
    /* border: 3px solid #8ea891; */
}

.card {
    border: none !important;
    background-color: #fefefe !important;
    min-height: 234px;
    box-shadow: 1px 3px 5px #666 !important;
}

.card-text {
    font-weight: 500;
    color: #444;
}

.create-card {
    border: none !important;
    background-color: #2e4723 !important;
    /* border: 5px solid #fefefe !important; */
    color: #2e4723;
    min-height: 50px;
    box-shadow: 1px 3px 5px #666 !important;
}

.btn-create {
    color: #f3f3f3;
    font-size: 23px;
    font-weight: 500;
}

.btn-create:hover {
    color: #f3f3f3;
}

.show-options {
    font-size: 19px;
    font-weight: 400;
}

.table {
    border: none;
    background-color: #f3f3f3;
    box-shadow: 0px 0px 2px #999 !important;
}

.table th {
    color: #333 !important;
    font-weight: 600;
    font-size: 17px;
    /* background-color: #8ea891 !important; */
}

.table td {
    color: #333 !important;
}

.table-bordered {
    border: 1px solid #333 !important;
}

.table thead {
    border-bottom: 3px solid #8ea891;
}

.table tbody tr {
    border-bottom: 0.3px solid #d6d5c5;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}

.edit-category {
    padding: 0;
    font-size: 17px;
    margin-bottom: 4px;
}

th {
    border: none;
}

.show-button {
    color: #333;
}

.show-button:link,
.show-button:visited {
    color: #333;
    text-decoration: none;
}

.show-button:hover,
.show-button:active {
    color: #555;
    text-decoration: none;
}
