<h1 class="text-center my-4 dark-font display-4 font-weight-bold">Categories</h1>

<div class="bg-green">
    <div class="container">
        <div class="row pb-4">
            <% @categories.each do |category| %>    
                <div class="col-sm-3">
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title text-center green-font"><%= category.title %></h5>
                            <% if category.tasks.count > 0 %>
                                <p class="card-text text-center">Tasks: <%= category.tasks.count %></p>
                                <p class="card-text text-center">Finished tasks: 1 of <%= category.tasks.count %></p>
                                <p class="card-text text-center"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">Launch demo modal</button></p>
                            <% else %>
                                <p class="card-text text-center">No tasks</p>
                                <p class="text-center"><button class="btn btn-danger">Add a task</button></p>
                            <% end %>           
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">This is the modal body</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %> <!-- categories loop -->
        </div> <!-- row -->
    </div> <!-- container -->
</div>