<h1 class="text-center my-4 dark-font display-3 font-weight-bold">Categories</h1>

<div class="bg-green">
    <div class="container">
        <div class="row pb-4">
            <% @categories.each do |category| %>    
                <div class="col-sm-3">
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title text-center green-font"><%= category.title %></h5>
                            <% if category.tasks.count > 0 %>
                                <p class="card-text text-center">Tasks: <%= category.tasks.count %></p>
                                <p class="card-text text-center">Finished tasks: 1 of <%= category.tasks.count %></p>
                                <p class="text-center"><button class="btn btn-success">Show tasks</button></p>
                            <% else %>
                                <p class="card-text text-center">No tasks</p>
                                <p class="text-center"><button class="btn btn-danger">Add a task</button></p>
                            <% end %>                            
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>