<h1 class="text-center">Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>
<br/>
<br/>
<br/>
<p><%= @category.user.email %></p>
<p><%= @category.user_id %></p>
<p><%= @category.title %></p>
<p><%= @category.description %></p>
